<!--検索フォーム-->
<%#= search_form_for @q do |f| %>
  <!--name_contは、あいまい検索を指定-->
  <%#= f.text_field :name_cont %>
  <%#= f.submit "検索" %>
<%# end %>
<!--検索結果-->
<% if @mangas.present? %>
  <!--検索がヒットした場合-->
  <% @mangas.each do |manga| %>
    <%= link_to new_post_url(manga_id: manga.id) do %>
      <div><%= manga.title %></div>
      <div><%= manga.author %></div>
    <% end %>
  <% end %>
<% else %>
  <!--検索がヒットしなかった場合-->
  <p>検索結果はありません</p>
<% end %>