<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="title">マイページ</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <table class="table table-borderless">
        <%= form_with model: @request,url: requests_path(@request) do |f| %>
          <tr>
            <td>タイトル</td>
            <td><%= f.text_field :title %></td>
          </tr>
          <tr>
            <td>著者</td>
            <td><%= f.text_field :author %></td>
          </tr>
          <tr>
            <td><%= f.submit "送信する",class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>