<div class="container">
  <div class="row">
    <div class="">
      <h3 class="title">漫画投稿一覧</h3>
    </div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>タイトル</th>
            <th>著者</th>
            <th>評価</th>
            <th>ジャンル</th>
            <th>ユーザー名</th>
            <th>公開/非公開</th>
          </tr>
          <tr>
            <td><%= post.manga.title %></td>
            <td><%= post.manga.author %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
      </table>